@font-face {
    font-family: 'Gothambook';
    src: url('fonts/Gotham-Book.eot');
    src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-Book.woff') format('woff'),
         url('fonts/Gotham-Book.ttf') format('truetype'),
         url('fonts/Gotham-Book.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'GothambookI';
    src: url('fonts/Gotham-BookIta.eot');
    src: url('fonts/Gotham-BookIta.eot?#iefix') format('embedded-opentype'),
         url('fonts/Gotham-BookIta.woff') format('woff'),
         url('fonts/Gotham-BookIta.ttf') format('truetype'),
         url('fonts/Gotham-BookIta.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;

}
