body {
     text-align: center;
     margin: 0px;
     padding: 0px;
     font-family: Gothambook;
     font-weight: normal;
    /* border-top: 26px solid #173885;*/
     background: url("../img/body-bg.png") #e1e6ea repeat-x;
 }

*{
   margin: 0px;
   padding: 0px;
}

img {border: 0px;}

a {text-decoration: none;}

 /* MAIN */
.main {
     margin: 0 auto;
     width: 100%;
     text-align: left;
 }

 /* HEAD */
.head{
     width: 100%;
     overflow: hidden;
 }
 
 .head-content {
 	margin: 14px auto 0px;
     width: 1190px;
     overflow: hidden;
     /*height: 69px;*/
 }
 
 .head-content .sep {
 	float: left;
 	width: 1190px;
 }
 
 .logo {
 	float: left;
 	width: 322px;
 	height: 258px;
 	/*margin-top: 52px;*/
 }
 
 .logo h2 {
 	padding: 5px 0;
 	color: #173885;
 	font-family: GothambookI;
 	font-size: 1.04em;
 	font-weight: normal;
 }
 
 .logo-wrap {
 	width: 297px;
 	height: 197px;
	padding-top: 36px;
	padding-left: 25px;
 	background: #173885;
 }
 
.top-menu {
	float: right;
	height: 50px;
	padding: 14px 80px 0 98px;
	list-style: none;
	background: url("../img/top-menu-bg.png") no-repeat #e1e6ea;
}

.top-menu li {
	float: left;
	height:28px;
	margin: 0 2px;
	
}

.drop {
	width: 5px;
	background: url("../img/li.png") no-repeat 0px 7px;
}

.top-menu li.drop:hover {
	background: url("../img/li.png") no-repeat 0px 7px;
}

.top-menu li:hover, li.active {
	background: url("../img/li-bg-left.png") no-repeat left center;

}


.top-menu li a {
	float: left;
	height: 28px;
	padding: 0px 10px;
	margin-left: 5px;
	line-height: 25px;
	color: #173885;
	font-family: Gothambook;
	font-weight: normal;
	font-size: 0.782em;

}

.top-menu li a:hover, .top-menu li:hover a, li.active a {
	color: #fff; 
	background: url("../img/li-bg-right.png") no-repeat right center #173885;
	
}

.top-slide {
	float:left;
	width: 906px;
	/*position: relative;*/
	height: 296px;
	margin-left: -40px;
	position: relative;
}

.top-slide .slide-text {
	width: 333px;
	height: 91px;
	position: absolute;
	bottom: -270px;/*40px;*/
	right: -912px;/*-8px;*/
	padding: 15px 45px;
	background: url("../img/slide-text-bg.png") no-repeat;
}

.top-slide #slides .slide-text p {
	color: #fff;
	font-size: 0.84em;
	font-family: Gothambook;
}


 /* MIDDLE */
.middle {
    margin: 0 auto;
	overflow: hidden;
	width: 1160px;
}

 /* MIDDLE_LEFT */
.middle-left {
	float: left;
	width: 868px;
	margin-top: 30px;
}

.short-newses {
	float: left;
	width: 868px;
}

.short-news {
	float: left;
	width: 217px;
	height: 187px;
	background: url("../img/short-bg.png") no-repeat bottom center;
	text-align: center;
}

.short-text {
	float: left;
	height: 51px;
	width: 197px;
	margin-bottom: 5px;	
	text-align: left;
	background: url("../img/marka-bg.png") no-repeat bottom left;
}

.short-text h3, .short-text h3 a {
	color: #000;
	font-size: 0.9em;
	font-weight: normal;
	padding: 1px 18px 1px 5px;
}

.short-text h3 a:hover {color: #173885;}

.short-news img {
	margin-top: 11px;
}


 /* MIDDLE_CONTENT */
.middle-content {
    float: left;
    width: 868px;
    padding-top: 25px;
    margin-bottom: 23px;
    position: relative;
    z-index: 12;
 }
 
 
.middle-content .middle-content-img {
	width: 140px;
	float: left;
}

.middle-content .middle-content-img h2 {
	font-size: 0.83em;
	color: #173885;
	font-weight: normal;
	padding-top: 20px;
	text-align: center;	
}

.middle-content .content-text {
	font-weight: normal;
	font-size: 0.9em;
	text-align: justify;
}

.partners {
	float: left;
	position: relative;
	z-index: 11;
	margin-bottom: 25px;
}

.partners .pp {	
	float: left;
	margin-bottom: 5px;
	margin-left: 20px;
	width: 100%;
	height: 5px;
	background: url("../img/marka-bg.png") no-repeat bottom left;
}

.partners .partner {
	float: left;
	height: 140px;
	width: 217px;
	text-align: center;
	background: url("../img/partner-bg.png") no-repeat bottom left;
}

.partners .partner img {
	padding-top: 25px;
}

 
 /* MIDDLE_RIGHT */

.middle-right{
    float: left;
    width: 265px; /*253px;*/
    padding: 10px;
 }

.middle-right .question {
	float: left;
	width: 265px;
	height: 88px;
	background: url("../img/question-bg.png") no-repeat;
	text-align: center;
}

.middle-right .question h3 {
	padding: 13px 30px;
	/*margin-bottom: 15px;*/
	font-weight: normal;
	font-size: 1.47em;
	color: #fff;
}

.contact {
	float: left;
	width: 275px;
	margin-left: 20px;
	color: #6c6c6c;
	font-size: 0.78em;
}

.contact-wrap {
	float: left;
	margin-left: 30px;
}

.contact-wrap h5 {
	/*float: left;*/
	font-size: 1.3em;
	font-weight: normal;
}

.contact-wrap p {
	/*float: left;*/
	padding: 5px 0;
}

.contact-wrap a {
	color: #6c6c6c;
}

.contact-wrap a:hover {
	text-decoration: underline;
	color: #169fc8;
}

.right-news {
	float: left;
	width: 260px;
	margin-left: 20px;
}
.right-news h4 {
	color: #169fc8;
	font-weight: normal;
	font-size: 1.45em;
}

.contact h4 {
	padding: 15px 0 5px 17px;
	font-size: 1.9em;
	color: #169fc8;
	font-weight: normal;
}

.right-news h4 {
	padding: 15px 0 5px 24px;
}


.right-news-wrap {
	float: left;
	width: 100%;
	padding: 10px 5px;
}

.right-news-wrap .right-news-date {
	float: left;
	height: 70px;
	width: 20px;
	padding: 2px 10px 2px 0px;
	text-align: center;
	color: #169fc8;
	font-size: 0.78em;
}

.right-news-wrap .right-news-text {
	font-size: 0.78em;
	color: #6c6c6c;
	font-weight: normal; 
}

.right-news-wrap a {
	float: left;
	width: 20px;
	height: 6px;
	margin: 6px 0;
	background: url("../img/right-news-link.png") no-repeat;
	text-indent: 9999px;
}

.banner {
	float: left;
	width: 239px;
	height: 165px;
	margin-left: 36px;
	margin-top: 30px;
	z-index: 13;
	position: relative;
	background: #b9bcbe;
	text-align: center;
	color: #fff;
	font-size: 1em;
}


 /* FOOTER */
.footer {
     margin: 30px auto 0;
     font-family: Arial;
     font-size: 12px;
     width: 100%;
     height: 159px;
     text-align: left;
     background-color: #173885;
}
 
.footer-wrap {
	width: 1145px;
	height: 159px;
	margin: 0 auto;
	color: #fff;
	position: relative;
	font-family: Gothambook;
	z-index: 2;
}

.footer-l, .footer-m {float: left;}


.footer-l {
	width: 195px;
	height: 111px;
	margin-top: 48px;
}

.footer-l p {
	font-size: 1.75em;
}

.footer-l span {
	float: left;
	padding-top: 6px;
	font-size: 1em;
}

.footer-l a {float: left;}

.footer-l .artpromo img {
	margin-top: 3px;
}

.footer-l .neats {
	margin-left: 20px;
	margin-top: 2px;
}

.footer-m {
	width: 398px;
	height: 71px;
	margin-top: 69px;
	margin-left: 213px;
	padding: 13px 6px 5px;
	text-align: center;
	font-size: 1.05em;
	line-height: 17px;
}

.footer-m span {
	font-size: 1.05em;	
}

.footer-r {
	float: right;
	width: 205px;
	height: 110px;
	margin-top: 48px;
}

.footer-r span {
	font-size: 1.5em;	
}

.footer-r p {
	font-size: 1em;
	margin-top: 23px;
}


.logo-footer {
	position: absolute;
	background: url("../img/logo-footer.png") no-repeat 0px 0px;
	height: 249px;
	width: 522px;
	top: -180px;
	left: 390px;
	z-index: 3;
}
 
